#notify{
	left: 50%;
	width: 20%;
	height: 10%;
	top: 0%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -10%;
	opacity: 0;
	transition: 3s;
	background-color: lightblue;
	position: fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tunak{	
	max-width: 30%;
}

div[contenteditable]{
		border: 1px solid black;
		width: 30%;
		font-size: 20px;
		min-height: 30px;
		overflow: hidden;
		max-height: 40%;
		margin: 5px;
		float: left;
}

#title{
	width: 50%;
}

#editmode{
	margin: auto;
	position: absolute;
	width: 40%;
	height: 40%;
	background-color: #ededed;
	box-shadow: 2px 2px 2px black;
	top: 35%;
	left: 50%;
	margin-left: -20%;
	overflow: hidden;
	padding-top: 60px;
}

textarea{
	width: 50%;
	height: 70%;
}

#cc1 {
	color: white;
	z-index: 3;
	margin: auto;
	width: 40%;
	height: 40%;
	background-color: #76A2C1;
	box-shadow: 2px 2px 2px black;
	padding: 20px;
	overflow: hidden;
	left: 50%;
	top: 35%;
	margin-left: -20%;
	word-wrap: break-word;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cc2{
	color: white;
	position: absolute;
	background-color: #345CA8;
	z-index: 2;
	width: 20%;
	height: 30%;
	top: 30%;
	left: -40%;
	right: 0;
	margin: auto;
	display: none;
	justify-content: center;
	align-items: center;

}

#picture{
	max-width: 300px;
	max-height: 200px;
}

.rating{
	unicode-bidi: bidi-override;
	direction: rtl;
}

.rating > span:hover:before
.rating > span;hover ~ span:before{
		content: "\2605";
		position: absolute;
)

.rating > span{
	display: inline-block;
	position: relative;
	width: 1.1em;
}